*
!*/

!*.hpp
!*.cpp
!*.in

!buildfile
!bootstrap.build
!root.build
!export.build
!manifest
!repositories.manifest
!packages.manifest

!docs

!README.md
!COPYING
!AUTHORS.md

!.githooks/**
!.circleci/**
!.github/**

!.gitignore
!.gitattributes